@inherits LayoutComponentBase

<PageTitle>BlazorWebUI</PageTitle>

<div class="wrapper">
    <AdminNavbar />
    <AdminSidebar />
    <div class="content-wrapper">
        @Body
    </div>
    <AdminFooter />
</div>
